force-app/main/default/flows/Create_Sponsorship_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Sponsorship_Id</name>
        <label>Set Sponsorship Id</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>SponsorshipId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Sponsorship_Record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>whatId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!RecurringDonationId}),IF(ISBLANK({!DonationId}),{!InstructionId},{!DonationId}),{!RecurringDonationId})</expression>
    </formulas>
    <interviewLabel>Create Sponsorship Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Sponsorship Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Sponsorship_Record</name>
        <label>Create Sponsorship Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Set_Sponsorship_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Donation_Support</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Donation__c</field>
            <value>
                <elementReference>DonationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donor_Organization__c</field>
            <value>
                <elementReference>Donor_OrganiationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>DonorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Office_Orphan__c</field>
            <value>
                <elementReference>FieldOfficeAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instruction__c</field>
            <value>
                <elementReference>InstructionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orphan__c</field>
            <value>
                <elementReference>OrphanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recurring_Donation__c</field>
            <value>
                <elementReference>RecurringDonationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regional_Office_Code_Donor__c</field>
            <value>
                <elementReference>RegionalOfficeCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>Sponsorship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>created_task</name>
        <label>created task</label>
        <locationX>440</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>create_sponsorship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Donation_Support.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>AllocatedaOrphantothisDonation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>whatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>DonorId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Donation_Support</name>
        <label>Get Donation Support</label>
        <locationX>440</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>created_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Sponsorship_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AllocatedaOrphantothisDonation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Assign new Orphan&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>create_sponsorship</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>create for the sponsorship for the orphan as sponsored by HA</text>
    </textTemplates>
    <variables>
        <name>DonationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Donor_OrganiationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DonorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FieldOfficeAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InstructionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrphanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecurringDonationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegionalOfficeCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SponsorshipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sponsored By HA</stringValue>
        </value>
    </variables>
</Flow>
