force-app/main/default/flows/Create_Card_Payment_and_Recurring_Donation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>DATE
(
IF(MONTH({!OpptCloseDate}) = 12, YEAR({!OpptCloseDate}) + 1, YEAR({!OpptCloseDate})),
IF(MONTH({!OpptCloseDate}) = 12, 1, MONTH({!OpptCloseDate}) + 1),
1
)</expression>
    </formulas>
    <interviewLabel>Create Card Payment and Recurring Donation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Card Payment and Recurring Donation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Card_Payment_Details</name>
        <label>Create Card Payment Details</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Create_Recurring_Donation</targetReference>
        </connector>
        <inputAssignments>
            <field>BIC__c</field>
            <value>
                <elementReference>BIC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IBAN__c</field>
            <value>
                <elementReference>IBAN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_On_Card__c</field>
            <value>
                <elementReference>Account_Holder_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method_Type__c</field>
            <value>
                <stringValue>sepa_debit</stringValue>
            </value>
        </inputAssignments>
        <object>Income_Card_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Close_Date_of_Opportunity</name>
        <label>Get Close Date of Opportunity</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Capture_Card_Payment_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>OpptCloseDate</assignToReference>
            <field>CloseDate</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Stage_of_Donation</name>
        <label>Update Stage of Donation</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Capture_Card_Payment_Detail</name>
        <label>SEPA Payment Details</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Card_Payment_Details</targetReference>
        </connector>
        <fields>
            <name>Account_Holder_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Holder Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IBAN</name>
            <dataType>String</dataType>
            <fieldText>IBAN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Only alphanumeric characters allowed. Max length : 27 Characters&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(REGEX( {!IBAN}, &quot;^[a-zA-Z0-9_]*$&quot;),
LEN({!IBAN}) &lt; 28 )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>BIC</name>
            <dataType>String</dataType>
            <fieldText>BIC</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Only alphabets allowed. Max Length : 11&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(REGEX( {!BIC}, &quot;^[a-zA-Z]*$&quot;),
LEN({!BIC}) &lt; 12 )</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Close_Date_of_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Recurring_Donation</name>
        <label>Create Recurring Donation</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Update_Stage_of_Donation</targetReference>
        </connector>
        <flowName>Recurring_Donation</flowName>
        <inputAssignments>
            <name>effectiveDate</name>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opportunityID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paymentMethod</name>
            <value>
                <stringValue>SEPA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_Card_Payment_Details</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>OpptCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
