force-app/main/default/flows/Create_Pledge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>GAU_ASsignment</name>
        <label>GAU ASsignment</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>obj_GAUAllocation.npsp__Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PledgeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_GAUAllocation.npsp__Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_GAU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Agency_Pledge_Parent_Campaign_Id_0</name>
        <label>Set Agency Pledge Parent Campaign Id</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>ParentCampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignParentId_0_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PledgeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pledged_Amount_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PledgeDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PledgeDonorRecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Donor_0_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PledgeEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PledgeStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PledgeFundraisedID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fundraiser_Person_0_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PledgeStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PledgeDonorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Donor_0_0.recordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Parent_Campaign_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Donor Id</description>
        <name>Set_Donor_Id</name>
        <label>Set Donor Id</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>DonorRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Donor_Parent_Campaign_ID_0</name>
        <label>Set Donor Parent Campaign ID</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>ParentCampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignParentId_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PledgeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pledged_Amount_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PledgeDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PledgeDonorRecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Donor_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PledgeEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PledgeStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PledgeFundraisedID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fundraiser_Person_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PledgeStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PledgeDonorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Donor_0.recordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Parent_Campaign_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Item_Id</name>
        <label>Set Item Id</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>obj_GAUAllocation.npsp__General_Accounting_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Pledge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Campaign_Id</name>
        <label>Set Parent Campaign Id</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ParentCampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Record_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>Set Parent Campaign or Donor Record Id</description>
        <name>Check_Record_Id_Key_Prefix</name>
        <label>Check Record Id Key Prefix</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Select_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckForContactKeyPrefix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Donor_Id</targetReference>
            </connector>
            <label>CheckForContactKeyPrefix</label>
        </rules>
        <rules>
            <name>CheckForCampaignKeyPrefix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>701</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_Campaign_Id</targetReference>
            </connector>
            <label>CheckForCampaignKeyPrefix</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_Of_Pledge</name>
        <label>Check Type Of Pledge</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Get_Parent_Campaign_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Donor_Pledge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Pledge</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donor Pledge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Pledge_0</targetReference>
            </connector>
            <label>If Donor Pledge</label>
        </rules>
        <rules>
            <name>If_Agency_Pledge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Pledge</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency Pledge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Pledge_0_0</targetReference>
            </connector>
            <label>If Agency Pledge</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AllGAUs</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>npsp__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pledge</stringValue>
            </value>
        </filters>
        <limit>50</limit>
        <object>npsp__General_Accounting_Unit__c</object>
        <outputAssignments>
            <assignToReference>DonationItemCode</assignToReference>
            <field>Donation_Item_Code__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CampaignStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Fundraiser</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Fundraiser__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FundraisingTeam</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PledgeRecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pledge</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donor_Pledge</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PledgeRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <formulas>
        <name>endDate</name>
        <dataType>Date</dataType>
        <expression>{!startDate} + 1095</expression>
    </formulas>
    <formulas>
        <name>PlegdeName</name>
        <dataType>String</dataType>
        <expression>IF({!If_Agency_Pledge},{!Fundraising_page_URL.value},
{!PledgeDonorName}&amp;&apos;-&apos;&amp;Text({!PledgeAmount})&amp;&apos;-&apos;&amp;{!DonationItemCode})</expression>
    </formulas>
    <formulas>
        <name>startDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Create Pledge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Pledge</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_GAU</name>
        <label>Create GAU</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <faultConnector>
            <targetReference>Item_Allocation_Error</targetReference>
        </faultConnector>
        <inputReference>obj_GAUAllocation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Pledge</name>
        <label>Create Pledge</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignRecordIdToReference>PledgeID</assignRecordIdToReference>
        <connector>
            <targetReference>GAU_ASsignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Pledge_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>Get_Parent_Campaign_Records.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>PledgeDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>PledgeDonorRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>PledgeEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fundraiser_Code__c</field>
            <value>
                <elementReference>Fundraiser_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fundraiser_Person__c</field>
            <value>
                <elementReference>PledgeFundraisedID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fundraiser__c</field>
            <value>
                <elementReference>Fundraiser_Agency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fundraising_Objective_Purpose__c</field>
            <value>
                <elementReference>Fundraising_Objective_Purpose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fundraising_page_url__c</field>
            <value>
                <elementReference>Fundraising_page_URL.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PlegdeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ParentCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pledged_Amount__c</field>
            <value>
                <elementReference>PledgeAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PledgeRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Fundraising_Team</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Get_Parent_Campaign_Records.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>PledgeStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>PledgeStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Pledge</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Parent_Campaign_Records</name>
        <label>Get Parent Campaign Records</label>
        <locationX>314</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Donation_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCampaign</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Donation_Item</name>
        <label>Donation Item</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Item_Id</targetReference>
        </connector>
        <fields>
            <name>Select_Item</name>
            <choiceReferences>AllGAUs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pledge Holding Item</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Item_Allocation_Error</name>
        <label>Item Allocation Error</label>
        <locationX>754</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ItemFaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Pledge_0</name>
        <label>New Pledge</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Donor_Parent_Campaign_ID_0</targetReference>
        </connector>
        <fields>
            <name>Donor_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Donor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Donor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DonorRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CampaignParentId_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ParentId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Parent Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Fundraiser_Person_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Fundraiser_Person__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fundraiser Person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Status_0</name>
            <choiceReferences>CampaignStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>startDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>endDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pledged_Amount_0</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>100.0</numberValue>
            </defaultValue>
            <fieldText>Pledged Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Description_0</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Any Special Instruction From Donor/Fundraiser.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name on Plaque / Orphan Sponsorship Country/Others&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Pledge_0_0</name>
        <label>New Pledge</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Agency_Pledge_Parent_Campaign_Id_0</targetReference>
        </connector>
        <fields>
            <name>Donor_0_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Donor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Donor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DonorRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CampaignParentId_0_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ParentId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Parent Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Fundraiser_Person_0_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Fundraiser_Person__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fundraiser Person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Status_0_0</name>
            <choiceReferences>CampaignStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date_0_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>startDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date_0_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>endDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pledged_Amount_0_0</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>100.0</numberValue>
            </defaultValue>
            <fieldText>Pledged Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Description_0_0</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Any Special Instruction From Donor/Fundraiser.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name on Plaque / Orphan Sponsorship Country/Others&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fundraising_Details</name>
            <fieldText>&lt;p&gt;FundRaising Details&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Pledge_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Pledge_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fundraising_page_URL</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Fundraising page URL</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Fundraiser_Agency</name>
                    <choiceReferences>Fundraiser</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Fundraiser</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Pledge_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fundraising_Objective_Purpose</name>
                    <dataType>String</dataType>
                    <fieldText>Fundraising Objective/ Purpose</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fundraiser_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Fundraiser Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fundraising_Team</name>
                    <choiceReferences>FundraisingTeam</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Fundraising Team</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pledge_Error</name>
        <label>Pledge Error</label>
        <locationX>1018</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Record_Type</name>
        <label>Select Record Type</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Type_Of_Pledge</targetReference>
        </connector>
        <fields>
            <name>Type_of_Pledge</name>
            <choiceReferences>PledgeRecordType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Pledge</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Id_Key_Prefix</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ALL_Campaigns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>All_Campaigns_Multi</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>DonationItemCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DonorRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>obj_GAUAllocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>ParentCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PledgeAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PledgeDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PledgeDonorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PledgeDonorRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PledgeEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PledgeFundraisedID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PledgeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pledgeObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>PledgeRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PledgeStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PledgeStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
