force-app/main/default/flows/De_Activate_Orphan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>check_is_Sponsorship_Link_to_RD</name>
        <label>check is Sponsorship Link to RD</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Update_the_Orphan_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_RD_Sponsorship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Rd_Sponsorships.Recurring_Donation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Orphan_For_the_RD</targetReference>
            </connector>
            <label>Is RD Sponsorship</label>
        </rules>
        <rules>
            <name>Is_Not_RD_Sponsorship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Rd_Sponsorships.Recurring_Donation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>Is Not RD Sponsorship</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>InactiveReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inactive_Reason__c</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>De Activate Orphan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>De-Activate Orphan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Active_Rd_Sponsorships</name>
        <label>Get Active RD Sponsorships</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_is_Sponsorship_Link_to_RD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Orphan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sponsorship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Orphan</name>
        <label>Update the Orphan</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inactive_Reason__c</field>
            <value>
                <elementReference>InactiveReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Orphan_0</name>
        <label>Update the Orphan</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inactive_Reason__c</field>
            <value>
                <elementReference>InactiveReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RD_Sponsorship_Not_Linked</name>
            <fieldText>&lt;p&gt;Please Link Recurring Donations and Sponsorship.&lt;/p&gt;&lt;p&gt;Contact Systems &amp;amp; Development&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reason_for_De_Activate_Orphan</name>
        <label>Reason for De-Activate Orphan</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Active_Rd_Sponsorships</targetReference>
        </connector>
        <fields>
            <name>Select_Reason</name>
            <choiceReferences>InactiveReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reason_for_De_Activate_Orphan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Change_Orphan_For_the_RD</name>
        <label>Change Orphan For the RD</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Update_the_Orphan</targetReference>
        </connector>
        <flowName>Payment_Plan_Orphan_Selector</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Active_Rd_Sponsorships.Recurring_Donation__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
