force-app/main/default/flows/Fund_Allocation_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>check_for_all_condtions</name>
        <label>check for all condtions</label>
        <locationX>267</locationX>
        <locationY>280</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Item_changed_or_new</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.From_Allocation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.From_Allocation__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUser</targetReference>
            </connector>
            <label>Item changed or new</label>
        </rules>
    </decisions>
    <interviewLabel>Fund Allocation Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fund Allocation Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>561</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Donor_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.From_Allocation__r.Regional_Office__r.npe01__One2OneContact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Donor_Information</name>
        <label>Update Donor Information</label>
        <locationX>753</locationX>
        <locationY>208</locationY>
        <inputAssignments>
            <field>Donor_Signatory__c</field>
            <value>
                <elementReference>GetUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>$Record.From_Allocation__r.Regional_Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>check_for_all_condtions</targetReference>
        </connector>
        <object>Fund_Allocation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
