force-app/main/default/flows/New_Payment_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Payment_Methods_to_the_list</name>
        <label>Add Payment Methods to the list</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>PaymentMethodChoices</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Bank Transfer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentMethodChoices</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Standing Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentMethodChoices</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Reversals</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_a_Payment_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_a_Payment_Object</name>
        <label>Build a Payment Object</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>PaymentObject.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_Screen_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Method_Object_Update</name>
        <label>Payment Method Object Update</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>PaymentObject.npe01__Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentObject.npe01__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SourceRefund.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentObject.npsp__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentObject.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentObject.npe01__Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentObject.npe01__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentObject.Payment_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentObject.Order_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentObject.Bank_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentObject.npsp__Gateway_Payment_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gateway_Payment_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentObject.npe01__Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payment_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Card</name>
        <choiceText>Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Card</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>PaymentMethodSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>npe01__Payment_Method__c</picklistField>
        <picklistObject>npe01__OppPayment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>npe01__OppPayment__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bank_Transfer</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Card_Payment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ChosenRecordType</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>New Payment Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Payment Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Payment_Record</name>
        <label>Create Payment Record</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>PaymentObject</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Source_Refund_Details</name>
        <label>Source Refund Details</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Payment_Screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_Records</name>
        <label>Roll Back Records</label>
        <locationX>440</locationX>
        <locationY>1118</locationY>
    </recordRollbacks>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Roll_Back_Records</targetReference>
        </connector>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 3, 3);&quot;&gt;ERROR: Something went wrong.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Payment_Screen_1</name>
        <label>New Payment Screen 1</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Payment_Methods_to_the_list</targetReference>
        </connector>
        <fields>
            <name>Payment_Type</name>
            <choiceReferences>PaymentType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Screen_2</name>
        <label>Payment Screen 2</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Payment_Method_Object_Update</targetReference>
        </connector>
        <fields>
            <name>Payment_Screen_2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Payment_Screen_2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SourceRefund</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>npe01__Opportunity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Source Refund</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>npe01__OppPayment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Source_Refund_Details.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Payment_Screen_2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type</name>
                    <dataType>String</dataType>
                    <fieldText>Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Payment_Screen_2_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Payment_Screen_2_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Source_Refund_Details.Amount</elementReference>
                    </defaultValue>
                    <fieldText>Payment Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Payment Amount should match the Amount of the Refund it is attached to.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Source_Refund_Details.Amount} == {!Payment_Amount}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Payment_Screen_2_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>npe01__OppPayment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Source_Refund_Details.npsp__Primary_Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Payment_Screen_2_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Payment_Screen_2_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>TodaysDate</elementReference>
                    </defaultValue>
                    <fieldText>Payment Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Payment_Screen_2_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Method</name>
                    <choiceReferences>PaymentMethodSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Payment Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Payment_Screen_2_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Payment_Screen_2_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Description</name>
                    <dataType>String</dataType>
                    <fieldText>Payment Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Payment_Screen_2_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Paid</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Paid</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Payment_Screen_2_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Payment_Screen_2_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Order_Id</name>
                    <dataType>String</dataType>
                    <fieldText>Order Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Payment_Notes</name>
                    <fieldText>Payment Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Payment_Screen_2_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Gateway_Payment_Id</name>
                    <dataType>String</dataType>
                    <fieldText>Gateway Payment Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Source_Refund_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChosenRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PaymentMethodChoices</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe01__OppPayment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
