force-app/main/default/flows/Orphan_Sponsorship_Automation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Orphan_Renewal_Date</name>
        <label>Assign Orphan Renewal Date</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsorship_Renewal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Renewal_Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Orphan_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Orphan_Status</name>
        <label>Assign Orphan Status</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsorship_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsoree_Is_Reserved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsoree_Reserved_Until__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsorship_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Donor_SF_ID_Sponsor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DonorSFId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsor_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SponsorshipName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsorship_Renewal_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SponsorshiprenewalDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsorship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Orphan_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_HA_Sponsorship</name>
        <label>Update HA Sponsorship</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_Existing_Sponsorship_HA.IsActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Sponsorship_HA.End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Old_HA_Sponsorship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Sponsorship_and_Orphan</name>
        <label>Update Sponsorship and Orphan</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsorship_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sponsored By HA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsorship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Sponsorship.SponsorshipId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Donor_SF_ID_Sponsor__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsorship_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Sponsorship.SponsorshipId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsorship_Renewal_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsor_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsoree_Is_Reserved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsoree_Reserved_Until__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Sponsorship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Sponsorship_and_Orphan_0</name>
        <label>Update Sponsorship and Orphan</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsorship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Sponsorship.SponsorshipId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Donor_SF_ID_Sponsor__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsorship_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Sponsorship.SponsorshipId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsorship_Renewal_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsor_Name__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsoree_Is_Reserved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Orphans.Sponsoree_Reserved_Until__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Sponsorship</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>SponsorshipStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sponsored By HA</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Conditions</name>
        <label>Check Conditions</label>
        <locationX>776</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Orphan_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sponsored</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sponsored</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Sponsorship_HA</targetReference>
            </connector>
            <label>Update Orphan Status</label>
        </rules>
        <rules>
            <name>Update_Renewal_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Due_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Orphan_Renewal_Date</targetReference>
            </connector>
            <label>Update Renewal Date</label>
        </rules>
        <rules>
            <name>Inactive_Sponsorships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sponsored</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Total_Orphan_Sponsorships</targetReference>
            </connector>
            <label>Inactive Sponsorships</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_Visit_exsist</name>
        <label>check if Visit exsist</label>
        <locationX>182</locationX>
        <locationY>1391</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visit_exsist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Orphans.Total_Orphan_Visits_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_Orphan_Visit_record</targetReference>
            </connector>
            <label>Visit does not exsist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Total_Orphan_Sponsorships</name>
        <label>Check Total Orphan Sponsorships</label>
        <locationX>974</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Human_Appeal_Orphan_Pool</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less or equal to 1</defaultConnectorLabel>
        <rules>
            <name>Greater_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Orphans.Active_Sponsorships__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sponsorship_and_Orphan_0</targetReference>
            </connector>
            <label>Greater than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_HA_Sponsorship</name>
        <label>Existing HA Sponsorship</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Assign_Orphan_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sponsorship_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Sponsorship_HA.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HA_Sponsorship</targetReference>
            </connector>
            <label>Sponsorship Exists</label>
        </rules>
    </decisions>
    <formulas>
        <name>DonorSFId</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL({!$Record.Donor__c})),{!$Record.Donor__c},{!$Record.Donor_Organization__c})</expression>
    </formulas>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH(DATEVALUE({!$Record.Start_Date_Time__c}))&gt;6, 
      DATE( YEAR(DATEVALUE({!$Record.Start_Date_Time__c}))+1 , MOD (MONTH(DATEVALUE({!$Record.Start_Date_Time__c}))+6,12) , DAY(DATEVALUE({!$Record.Start_Date_Time__c})) ) , 
      DATE( YEAR(DATEVALUE({!$Record.Start_Date_Time__c})) , MONTH(DATEVALUE({!$Record.Start_Date_Time__c}))+6 , DAY(DATEVALUE({!$Record.Start_Date_Time__c})) )
)</expression>
    </formulas>
    <formulas>
        <name>EndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISNULL({!$Record.End_Date_Time__c}),NOW(),{!$Record.End_Date_Time__c})</expression>
    </formulas>
    <formulas>
        <name>PoolSponsorshipName</name>
        <dataType>String</dataType>
        <expression>&quot;HA Sponsored&quot; &amp;&apos;&apos;&amp; {!$Record.Orphan__r.Name}</expression>
    </formulas>
    <formulas>
        <name>SponsorshipName</name>
        <dataType>String</dataType>
        <expression>If(NOT(ISNULL({!$Record.Donor__c})),{!$Record.Donor__r.FirstName} &amp;&apos; &apos;&amp;{!$Record.Donor__r.LastName},{!$Record.Donor_Organization__r.Name})</expression>
    </formulas>
    <formulas>
        <name>SponsorshiprenewalDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Recurring_Donation__r.npsp__EndDate__c}, -1)</expression>
    </formulas>
    <interviewLabel>Orphan Sponsorship Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orphan Sponsorship Automation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Orphan_Visit_record</name>
        <label>Create new Orphan Visit record</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_of_Visit__c</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orphan__c</field>
            <value>
                <elementReference>Get_Orphans.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_of_Visit__c</field>
            <value>
                <stringValue>General</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Date__c</field>
            <value>
                <elementReference>EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Orphan_Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Sponsorship_HA</name>
        <label>Get Existing Sponsorship HA</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_HA_Sponsorship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Orphans.Sponsorship__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sponsored By HA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sponsorship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Orphans</name>
        <label>Get Orphans</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Orphan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Human_Appeal_Orphan_Pool</name>
        <label>Human Appeal (Orphan Pool)</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Sponsorship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Human Appeal (Orphan Pool)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Old_HA_Sponsorship</name>
        <label>Update Old HA Sponsorship</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Assign_Orphan_Status</targetReference>
        </connector>
        <inputReference>Get_Existing_Sponsorship_HA</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Orphan_Records</name>
        <label>Update Orphan Records</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>check_if_Visit_exsist</targetReference>
        </connector>
        <inputReference>Get_Orphans</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sponsorship</name>
        <label>Update Sponsorship</label>
        <locationX>974</locationX>
        <locationY>1151</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Orphan_Records</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Orphans</targetReference>
        </connector>
        <object>Sponsorship__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Sponsorship</name>
        <label>Create Sponsorship</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Update_Sponsorship_and_Orphan</targetReference>
        </connector>
        <flowName>Create_Sponsorship_Record</flowName>
        <inputAssignments>
            <name>Donor_OrganiationId</name>
            <value>
                <elementReference>Human_Appeal_Orphan_Pool.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FieldOfficeAccountId</name>
            <value>
                <elementReference>Get_Orphans.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsActive</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Name</name>
            <value>
                <elementReference>PoolSponsorshipName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrphanId</name>
            <value>
                <elementReference>Get_Orphans.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RegionalOfficeCode</name>
            <value>
                <elementReference>$Record.Donor__r.Regional_Office_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StartDate</name>
            <value>
                <elementReference>EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Status</name>
            <value>
                <elementReference>SponsorshipStatus</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
