force-app/main/default/flows/Recurring_Donation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_collection_0</name>
        <label>Add to collection</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>coll_Allocations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ItemAllocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Allocations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IDs_0</name>
        <label>Assign IDs</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ItemAllocation.npsp__Recurring_Donation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sob_RecurringDonation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemAllocation.npsp__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ItemAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemAllocation.npsp__General_Accounting_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Allocations.npsp__General_Accounting_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemAllocation.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Allocations.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemAllocation.Orphan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Allocations.Orphan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemAllocation.Stipulation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Allocations.Stipulation_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemAllocation.npsp__Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Percentage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RD_Id</name>
        <label>Assign RD Id</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getExistingRecurringDonation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_RD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set up a Recurring Donation linked to Card Payment</description>
        <name>recurringCardPayment_0</name>
        <label>Recurring</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecurringDonationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.npe03__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountOrEMIAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.npe03__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunity.npsp__Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.npe03__Installment_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunity.Donation_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.npsp__Day_of_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDayOfMonthly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.npsp__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>effectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.npsp__RecurringType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunity.Recurring_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.Card_Payment_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cardPaymentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.npsp__PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>paymentMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.npe03__Installments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunity.Number_of_Installments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.Donation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunity.Donation_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.npe03__Recurring_Donation_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunity.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.npe03__Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunity.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunity.Medium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunity.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sob_RecurringDonation.Regional_Office_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunity.Regional_Office_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_recurring_donation_is_exists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_recurring_donation_is_exists</name>
        <label>check if recurring donation exists</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_RD_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_recurring_donation_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExistingRecurringDonation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Recurring_Donation_0</targetReference>
            </connector>
            <label>check recurring donation exists</label>
        </rules>
    </decisions>
    <description>Recurring Donation Flow - Creates NPSP RD records</description>
    <formulas>
        <name>AllocationPercentageofAmount</name>
        <dataType>Number</dataType>
        <expression>({!Opportunity_Allocations.npsp__Amount__c} / {!getOpportunity.Amount}) * 100</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>AmountOrEMIAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(Text({!getOpportunity.Donation_Type__c}) !=&apos;EMI&apos;,{!getOpportunity.Amount},{!getOpportunity.EMIAmount__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Record Id is for Card Payment Detail Lookup field</description>
        <name>cardPaymentId</name>
        <dataType>String</dataType>
        <expression>IF ({!paymentMethod} = &apos;Card Payment&apos;, {!recordId}, null)</expression>
    </formulas>
    <formulas>
        <description>Record Id is for Direct Debit Detail Lookup field</description>
        <name>directDebitId</name>
        <dataType>String</dataType>
        <expression>IF ({!paymentMethod} =&apos;Direct Debit&apos;, {!recordId},null)</expression>
    </formulas>
    <formulas>
        <description>Extract Day of the month from the Effective Date</description>
        <name>formulaDayOfMonthly</name>
        <dataType>String</dataType>
        <expression>text(DAY({!effectiveDate}))</expression>
    </formulas>
    <formulas>
        <name>ItemAmount</name>
        <dataType>Currency</dataType>
        <expression>IF({!getOpportunity.DonationCode__c} ==&apos;30N&apos; || {!getOpportunity.DonationCode__c} ==&apos;10N&apos; || {!getOpportunity.DonationCode__c} ==&apos;10D&apos;,Null,{!Opportunity_Allocations.npsp__Amount__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Percentage</name>
        <dataType>Number</dataType>
        <expression>{!AllocationPercentageofAmount}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <description>Recurring Donation Name</description>
        <name>RecurringDonationName</name>
        <dataType>String</dataType>
        <expression>{!getOpportunity.Name}</expression>
    </formulas>
    <interviewLabel>Recurring Donation {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Recurring Donation</label>
    <loops>
        <name>Opportunity_Allocations</name>
        <label>Opportunity Allocations</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>getAllocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_IDs_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Allocations_on_Recurring</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Recurring_Donation_0</name>
        <label>Create a Recurring Donation</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>getAllocations</targetReference>
        </connector>
        <inputReference>sob_RecurringDonation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Allocations_on_Recurring</name>
        <label>Create Allocations on Recurring</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <inputReference>coll_Allocations</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get All Allocations for the Opportunity</description>
        <name>getAllocations</name>
        <label>Get Allocations</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Allocations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npsp__Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getExistingRecurringDonation</name>
        <label>getExistingRecurringDonation</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recurringCardPayment_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe03__Recurring_Donation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get All Opportunity Record Details</description>
        <name>getOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getExistingRecurringDonation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DonationCode__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>SD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_RD</name>
        <label>Update Existing RD</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <inputReference>sob_RecurringDonation</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>coll_Allocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>coll_RecurringDonation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>effectiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Index</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ItemAllocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>opportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Payment Method</description>
        <name>paymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Card Payment</stringValue>
        </value>
    </variables>
    <variables>
        <description>holds card ID or direct debit mandate</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A single Recurring Donation object</description>
        <name>sob_RecurringDonation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>Total_Percentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </variables>
</Flow>
