force-app/main/default/flows/Refund_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Submit_For_Approval</name>
        <label>Submit For Approval</label>
        <locationX>182</locationX>
        <locationY>4934</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Submit_For_Refund_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>nextApproverIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>refundDonation.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Item_To_Allocations</name>
        <label>Add Item To Allocations</label>
        <locationX>270</locationX>
        <locationY>3782</locationY>
        <assignmentItems>
            <assignToReference>UpdateRefundAllocations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Refund_Donation_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Refund_Donation_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>314</locationX>
        <locationY>4478</locationY>
        <assignmentItems>
            <assignToReference>nextApproverIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectFinanceUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Stagename_and_Finance_User_to_the_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collections</name>
        <label>Add To Collections</label>
        <locationX>732</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>RefundItemAllocations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ItemAllocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Refund_Item_Allocations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_DML_Collection</name>
        <label>Add To DML Collection</label>
        <locationX>732</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>FinalItemAllocations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FinalItemAllocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_GAU_Allocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Manager_to_the_approver_list</name>
        <label>Assign Selected Manager to the approver list</label>
        <locationX>50</locationX>
        <locationY>4478</locationY>
        <assignmentItems>
            <assignToReference>nextApproverIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FetchManagerOfUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Stage_and_Finance_User_to_the_Refund_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_and_Finance_User_to_the_Refund_Record</name>
        <label>Assign Stage and Finance User to the Refund Record</label>
        <locationX>50</locationX>
        <locationY>4598</locationY>
        <assignmentItems>
            <assignToReference>RefundObjectUpdate.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundObjectUpdate.Finance_Approver_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectFinanceUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundObjectUpdate.Refund_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Refund_Donation_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stagename_and_Finance_User_to_the_record</name>
        <label>Assign Stagename and Finance User to the record</label>
        <locationX>314</locationX>
        <locationY>4598</locationY>
        <assignmentItems>
            <assignToReference>RefundObjectUpdate.Finance_Approver_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectFinanceUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundObjectUpdate.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finance Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundObjectUpdate.Refund_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Refund_Donation_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Refund_Object</name>
        <label>Build Refund Object</label>
        <locationX>644</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>refundDonation.Donation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Source_Donation_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Source_Donation_Details.npsp__Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Source_Donation_Details.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>maxAmountThatCanBeRefunded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Review &amp; Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Refund_RecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RefundName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Source_Donation_Details.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Source_Donation_Details.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Source_Donation_Details.Medium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.Regional_Office_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Source_Donation_Details.Regional_Office_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.Donation_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Source_Donation_Details.Donation_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.Refund_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.Account_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.Sort_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Refund_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ItemAllocationTotal</name>
        <label>ItemAllocationTotal</label>
        <locationX>732</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>TotalItemAllocation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Validate_GAU_Allocation.npsp__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterator_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterator_Item</name>
        <label>Iterator Item</label>
        <locationX>732</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>FinalItemAllocation.npsp__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_GAU_Allocation.npsp__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalItemAllocation.npsp__General_Accounting_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_GAU_Allocation.npsp__General_Accounting_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_DML_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refund_Item_Allocation</name>
        <label>Refund Item Allocation</label>
        <locationX>732</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>ItemAllocation.npsp__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItemAllocationAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemAllocation.npsp__General_Accounting_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Refund_Item_Allocations.npsp__General_Accounting_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemAllocation.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Refund_Item_Allocations.npsp__General_Accounting_Unit__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ItemAllocation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Refund_Item_Allocations.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RefundObjectToUpdate</name>
        <label>RefundObjectToUpdate</label>
        <locationX>182</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>RefundObjectUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>refundDonation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_Logged_In_user_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Item_Allocation_0_0</name>
        <label>Reset Item Allocation</label>
        <locationX>644</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>TotalItemAllocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalItemAllocations</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundItemAllocations</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRefundAllocations</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Refund_Item_Allocations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Update_Allocations</name>
        <label>Reset Update Allocations</label>
        <locationX>182</locationX>
        <locationY>3422</locationY>
        <assignmentItems>
            <assignToReference>UpdateRefundAllocations</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Refund_Donation_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Refund</name>
        <label>Total Refund</label>
        <locationX>1095</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>TotalRefundAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Existing_Total_Refund.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Total_Refund</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Donation_Id</name>
        <label>Update Donation Id</label>
        <locationX>270</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>Refund_Donation_Id.npsp__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>refundDonation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Item_To_Allocations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Refund_Donation</name>
        <label>Update Refund Donation</label>
        <locationX>644</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>refundDonation.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.Refund_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Refund_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.Account_Holder_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Holder_s_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.Account_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.Sort_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sort_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundDonation.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Source_GAU_Allocations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Total_Refund_Isn_t_Surpass_Donation_Amount</name>
        <label>Check If Total Refund ,Isn&apos;t Surpass Donation Amount</label>
        <locationX>1007</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Donation_Is_Refunded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_Refund_Equal_Greater_than</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalRefundAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SourceDonationAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Refund_Object</targetReference>
            </connector>
            <label>Total Refund Equal &amp; Greater than</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Refund_Allocation_Total_with_Donation</name>
        <label>Check Refund Allocation Total with Donation</label>
        <locationX>644</locationX>
        <locationY>3182</locationY>
        <defaultConnector>
            <targetReference>Refund_Amount_and_Reversal_MisMatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Both_Item_Total_Amount_eq_Donation_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalItemAllocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>refundDonation.Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Refund_Donation_0_0</targetReference>
            </connector>
            <label>If Both Item Total Amount eq Donation Amount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Logged_In_user_details</name>
        <label>Check the Logged In user details</label>
        <locationX>182</locationX>
        <locationY>4238</locationY>
        <defaultConnector>
            <targetReference>Select_Finance_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_User_is_Donor_Care_Advisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Donor Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Manager_for_Approval</targetReference>
            </connector>
            <label>Current User is Donor Care Advisor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Amount_which_is_Equal_to_Zero</name>
        <label>Skip Amount which is Equal to Zero</label>
        <locationX>864</locationX>
        <locationY>2510</locationY>
        <defaultConnector>
            <targetReference>Validate_GAU_Allocation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Amount_is_less_than_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_GAU_Allocation.npsp__Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ItemAllocationTotal</targetReference>
            </connector>
            <label>Check If Amount is less than Zero</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FetchManagerOfUser</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sabah Majid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Majed Saqr</stringValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RefundReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Refund_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectDonorCareHeads</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Role_Custom__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Head of Donor Care - UK</stringValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectFinanceUser</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Department</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Finance</stringValue>
            </value>
        </filters>
        <limit>6</limit>
        <object>User</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>currentItemAllocationAmount</name>
        <dataType>Currency</dataType>
        <expression>-{!Create_Refund_Item_Allocations.npsp__Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>maxAmountThatCanBeRefunded</name>
        <dataType>Number</dataType>
        <expression>{!SourceDonationAmount} - {!TotalRefundAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RefundDonationId</name>
        <dataType>String</dataType>
        <expression>{!refundDonation.Id}</expression>
    </formulas>
    <formulas>
        <name>RefundName</name>
        <dataType>String</dataType>
        <expression>&apos;Refund-&apos;&amp;{!Source_Donation_Details.Name}</expression>
    </formulas>
    <formulas>
        <name>SourceDonationAmount</name>
        <dataType>Currency</dataType>
        <expression>-{!Source_Donation_Details.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ValidateAmount</name>
        <dataType>Boolean</dataType>
        <expression>AND({!Amount} &gt; ({!maxAmountThatCanBeRefunded} - 1), {!Amount} &lt; 0)</expression>
    </formulas>
    <interviewLabel>Refund Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refund Form</label>
    <loops>
        <name>Create_Refund_Item_Allocations</name>
        <label>Create Refund Item Allocations</label>
        <locationX>644</locationX>
        <locationY>1814</locationY>
        <collectionReference>Get_Source_GAU_Allocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Refund_Item_Allocation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reversal_Adjustment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Existing_Total_Refund</name>
        <label>Existing Total Refund</label>
        <locationX>1007</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Existing_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Refund</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Total_Refund_Isn_t_Surpass_Donation_Amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Refund_Donation_Id</name>
        <label>Refund Donation Id</label>
        <locationX>182</locationX>
        <locationY>3542</locationY>
        <collectionReference>FinalItemAllocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Donation_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Refund_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Check Total Amount Equal Donation Amount</description>
        <name>Validate_GAU_Allocation</name>
        <label>Validate GAU Allocation</label>
        <locationX>644</locationX>
        <locationY>2390</locationY>
        <collectionReference>UpdateRefundAllocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Skip_Amount_which_is_Equal_to_Zero</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Refund_Allocation_Total_with_Donation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Refund_Donation_0_0</name>
        <label>Create Refund Donation</label>
        <locationX>182</locationX>
        <locationY>3302</locationY>
        <connector>
            <targetReference>Reset_Update_Allocations</targetReference>
        </connector>
        <inputReference>refundDonation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Refund_Items</name>
        <label>Create Refund Items</label>
        <locationX>182</locationX>
        <locationY>3998</locationY>
        <connector>
            <targetReference>RefundObjectToUpdate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_Back_Operations</targetReference>
        </faultConnector>
        <inputReference>UpdateRefundAllocations</inputReference>
    </recordCreates>
    <recordLookups>
        <name>FetchPrimaryContactDetails</name>
        <label>FetchPrimaryContactDetails</label>
        <locationX>644</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bank_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>refundDonation.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Records</name>
        <label>Get Existing Records</label>
        <locationX>1007</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Total_Refund</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Refund_RecordTypeId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Source_GAU_Allocations</name>
        <label>Get Source GAU Allocations</label>
        <locationX>644</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Item_Allocation_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npsp__Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Refund_RecordTypeId</name>
        <label>Refund RecordTypeId</label>
        <locationX>1007</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Source_Donation_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Source_Donation_Details</name>
        <label>Source Donation Details</label>
        <locationX>1007</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_Operations</name>
        <label>Roll Back Operations</label>
        <locationX>842</locationX>
        <locationY>4118</locationY>
        <connector>
            <targetReference>Error_Screen_0</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Refund_Donation_records</name>
        <label>Update Refund Donation records</label>
        <locationX>182</locationX>
        <locationY>4814</locationY>
        <connector>
            <targetReference>Submit_For_Approval</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Roll_Back_Operations</targetReference>
        </faultConnector>
        <inputReference>RefundObjectUpdate</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Bank_Account_Details</name>
        <label>Bank Account Details</label>
        <locationX>644</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Refund_Donation</targetReference>
        </connector>
        <fields>
            <name>BankAccountDetailsLabel</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Bank Account Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Holder_s_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FetchPrimaryContactDetails.Name</elementReference>
            </defaultValue>
            <fieldText>Account Holder&apos;s Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>refundDonation.Account_Number__c</elementReference>
            </defaultValue>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sort_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>refundDonation.Sort_Code__c</elementReference>
            </defaultValue>
            <fieldText>Sort Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Donation_Is_Refunded</name>
        <label>Donation Is Refunded</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PreviouslyRefund</name>
            <fieldText>&lt;p&gt;This Donation has been Refunded Previously&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_0</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>4238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(221, 5, 5);&quot;&gt;Something went wrong while associating Allocation Items to the refund.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Refund_Amount_and_Reversal_MisMatch</name>
        <label>Refund Amount and Reversal MisMatch</label>
        <locationX>1106</locationX>
        <locationY>3302</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Refund_Form</targetReference>
        </connector>
        <fields>
            <name>MisMatchInAmount</name>
            <fieldText>&lt;p&gt;Please Adjust Refund Amount {!refundDonation.Amount} &lt;/p&gt;&lt;p&gt; in Item Allocation {!TotalItemAllocation}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Adjust</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Refund_Form</name>
        <label>Refund Form</label>
        <locationX>644</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FetchPrimaryContactDetails</targetReference>
        </connector>
        <fields>
            <name>Refund_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Refund_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SourceDonation</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Donation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Source Donation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>refundDonation.Donation__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Refund_Form_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>refundDonation.Amount</elementReference>
                    </defaultValue>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Enter the Refund Amount in Negative less than or Equal to Actual Donation&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a value less than or equal to {!maxAmountThatCanBeRefunded}, also the value needs to be negative.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!ValidateAmount}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Refund_Form_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Refund_Form_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Donor</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>npsp__Primary_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Donor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>refundDonation.npsp__Primary_Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Refund_Form_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DonorAccount</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Donor Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>refundDonation.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Refund_Form_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Refund_Form_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Close_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>refundDonation.CloseDate</elementReference>
                    </defaultValue>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Refund_Form_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Refund_Reason</name>
                    <choiceReferences>RefundReason</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>refundDonation.Refund_Reason__c</elementReference>
                    </defaultValue>
                    <fieldText>Refund Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!refundDonation.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reversal_Adjustment</name>
        <label>Reversal Adjustment</label>
        <locationX>644</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate_GAU_Allocation</targetReference>
        </connector>
        <fields>
            <name>AllowedRefundText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Total Allowed Refund: {!refundDonation.Amount}&lt;/b&gt;&lt;b&gt;&lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt; &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RefundAllocationsCollection</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_custom2</name>
                <value>
                    <elementReference>RefundItemAllocations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>npsp__Amount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Refund Amount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_editable</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_editable</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows_custom2</name>
                <value>
                    <elementReference>UpdateRefundAllocations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_editable</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showButtons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_type</name>
                <value>
                    <stringValue>currency</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Notes__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Item Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdateRefundAllocations</assignToReference>
                <name>mydata_custom2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>UpdateRefundAllocations</assignToReference>
                <name>selectedRows_custom2</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Submit For Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Finance_Approval</name>
        <label>Select Finance Approval</label>
        <locationX>314</locationX>
        <locationY>4358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
        <fields>
            <name>Select_Approver</name>
            <choiceReferences>SelectFinanceUser</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Approver</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Manager_for_Approval</name>
        <label>Select Manager for Approval</label>
        <locationX>50</locationX>
        <locationY>4358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Manager_to_the_approver_list</targetReference>
        </connector>
        <fields>
            <name>Manager_Selection_for_Approval</name>
            <choiceReferences>FetchManagerOfUser</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Approver</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Finance_Approver</name>
            <choiceReferences>SelectFinanceUser</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Finance Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>182</locationX>
        <locationY>5054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Refund record created successfully!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NavigationText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;To navigate to the created refund click &lt;a href=&quot;/{!refundDonation.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!refundDonation.Name}&lt;/a&gt;, else click Finish.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Current_User_is_Donor_Care_Advisor</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Refund_RecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FinalItemAllocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>FinalItemAllocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>ItemAllocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>nextApproverIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>refundDonation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RefundItemAllocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>RefundObjectUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TotalItemAllocation</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalRefundAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UpdateRefundAllocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
</Flow>
