force-app/main/default/flows/Update_Photo_URLs_on_Visit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Update_Activity_Photo_URL</name>
        <label>Update Activity Photo URL</label>
        <locationX>537</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>ActivityPhotoURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_records.sharinpix__ImageURLOriginal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Family_Photo_URL</name>
        <label>Update Family Photo URL</label>
        <locationX>311</locationX>
        <locationY>1024</locationY>
        <assignmentItems>
            <assignToReference>FamilyPhotoURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_records.sharinpix__ImageURLOriginal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Other_Photo_URL</name>
        <label>Update Other Photo URL</label>
        <locationX>547</locationX>
        <locationY>836</locationY>
        <assignmentItems>
            <assignToReference>OtherPhotoURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_records.sharinpix__ImageURLOriginal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Profile_Photo_URL</name>
        <label>Update Profile Photo URL</label>
        <locationX>65</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ProfilePhotoURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_all_records.sharinpix__ImageURLOriginal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_photo_type</name>
        <label>Check photo type</label>
        <locationX>292</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Family_Photo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_records.sharinpix__Tags__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>#OrphanWithFamily#</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Family_Photo_URL</targetReference>
            </connector>
            <label>Family Photo</label>
        </rules>
        <rules>
            <name>Profile_Photo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_records.sharinpix__Tags__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>#ProfilePhoto#</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Profile_Photo_URL</targetReference>
            </connector>
            <label>Profile Photo</label>
        </rules>
        <rules>
            <name>Activity_Photo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_records.sharinpix__Tags__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>#OrphanDuringActivity#</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Activity_Photo_URL</targetReference>
            </connector>
            <label>Activity Photo</label>
        </rules>
        <rules>
            <name>Other_Photo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_records.sharinpix__Tags__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>#OtherPhoto#</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Other_Photo_URL</targetReference>
            </connector>
            <label>Other Photo</label>
        </rules>
    </decisions>
    <interviewLabel>Update Photo URLs on Visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Photo URLs on Visit</label>
    <loops>
        <name>Loop_through_all_records</name>
        <label>Loop through all records</label>
        <locationX>302</locationX>
        <locationY>344</locationY>
        <collectionReference>Get_Photo_URLs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_photo_type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Orphan_Visit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Photo_URLs</name>
        <label>Get Photo URLs</label>
        <locationX>176</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Orphan_Visit_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sharinpix__SharinPixImage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Orphan_Visit</name>
        <label>Update Orphan Visit</label>
        <locationX>557</locationX>
        <locationY>349</locationY>
        <inputAssignments>
            <field>Activity_Photo_URL__c</field>
            <value>
                <elementReference>ActivityPhotoURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Photo_URL__c</field>
            <value>
                <elementReference>FamilyPhotoURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Photo_URL__c</field>
            <value>
                <elementReference>OtherPhotoURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profile_Photo_URL__c</field>
            <value>
                <elementReference>ProfilePhotoURL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Photo_URLs</targetReference>
        </connector>
        <object>Orphan_Visit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ActivityPhotoURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FamilyPhotoURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherPhotoURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProfilePhotoURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
